{% extends "template.html" %}

{% block title %} searchcustomer {% endblock %}

{% block content %}




<form action="customerSelection", method="POST" >
<div id="searchbar">
<input type="text" name="customerID" class="form-control" placeholder="Enter tenant ID">
</div>
<p style="text-align: center;"><input type="submit" name="selectCustomer" value="select"/></p>
</form>



<div id="table">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Tenant ID</th>
        <th>Tenant Name</th>
        <th>CNIC</th>
        <th>Contact Number</th>
      </tr>
    <thead>
    <tbody class="bg-light">
      {% for customer in all_details %}
        <tr>
          <td>{{customer[0]}}</td>
          <td>{{customer[1]}}</td>
          <td>{{customer[2]}}</td>
          <td>{{customer[3]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}