{% extends "template.html" %}

{% block title %} searchcustomer {% endblock %}

{% block content %}




<form action="customerSelection", method="POST" >
<div id="searchbar">
<input type="text" name="customerID" class="form-control" placeholder="Enter tenant ID">
</div>
<p style="text-align: center;"><input type="submit" name="selectCustomer" value="select"/></p>
</form>


<div class="center">
<div class="flex-box", style="margin-bottom: 3rem;">
  <table class="flex-container">
    <thead>
      <tr class="flex-container-header">
        <th class="flex-column-th">Tenant ID</th>
        <th class="flex-column-th">Tenant Name</th>
        <th class="flex-column-th">CNIC</th>
        <th class="flex-column-th">Contact Number</th>
      </tr>
    <thead>
    <tbody>
      {% for customer in all_details %}
        <tr class="flex-container-inner">
          <td class="flex-column">{{customer[0]}}</td>
          <td class="flex-column">{{customer[1]}}</td>
          <td class="flex-column">{{customer[2]}}</td>
          <td class="flex-column">{{customer[3]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}