{% extends "template.html" %}

{% block title %} Cancel Booking {% endblock %}

{% block content %}
<div class="center">
<div class="flex-box">
    <h3 id="table-h3" style="text-align: center;">Cancel Booking</h1>
    <form class="flex-column" action="cancelBooking", method="post">
        <input class="form-control" type="number" name="userId" placeholder="enter userID">
        <input class="form-control" type="number" name="roomPkgId" placeholder="enter packageID">
        <input type="submit" value="Cancel Booking">
    </form>
    {% if bookingCancelMessage !="NULL" %}
        <p style="text-align: center; font-size: larger;"><b>{%print(bookingCancelMessage)%}</p></b>
    {% endif %}
</div>
</div>
{% endblock %}
