{% extends "template.html" %}

{% block title %} login {% endblock %}

{% block content %}

<div class="center">
<div class="flex-box">
    <h3 class="table-h3">Checkout Page</h3>
    </br>
    <form class="flex-column" action="checkout", method="post">
        <input type="number" class="form-control" name="userId_checkout" placeholder="enter userID">
        <input type="number" class="form-control" name="roomId_checkout" placeholder="enter roomID">
        <input type="submit" value="Checkout">
    </form>
    </br></br>
    <p style="text-align: center;font-size: x-large;">{{checkoutMessage}}</p>
</div>
</div>
{% endblock %}
