<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/duepayments.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
    <div class="center">
    <div class="flex-box" style="margin-bottom: 3rem;">
        <h3 id="table-h3">Due Payments</h3>
        <table  class="flex-container">
        <thead>
            <tr class="flex-container-header">
                <th class="flex-column-th" style="flex: 30%;">ID</th>
                <!-- <th class="flex-column-th">User</th> -->
                <th class="flex-column-th">Room#</th>
                <th class="flex-column-th">Paid Amount</th>
                <th class="flex-column-th">Due Amount</th>
                <!-- <th class="flex-column-th" style="flex: 25%;">Pay</th> -->
                <br>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr class="flex-container-inner">
                <td class="flex-column" style="flex: 30%">{{payment[0]}}</td>
                <!-- <td class="flex-column">Usama</td> -->
                <td class="flex-column">{{payment[1]}}</td>
                <td class="flex-column">{{payment[2]}}</td>
                <td class="flex-column">{{payment[3]}}</td>
                <!-- <td><a href="#" class="paybutton">+</a></td> -->
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    </div>

</body>
</html>

