<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/navarStyle.css">
    <link rel="stylesheet" href="static/css/serviceStyle.css">
    <link rel="stylesheet" href="static/css/footerStyle.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-container">
        <div class="logo-container">
            <img src="static/images/logo2.png" alt="">
        </div>
            <ul class="nav-links-container"> 
                <li class="nav home"><a href="#">HOME</a></li>
                <li class="nav services"><a href="#"><span>SERVICES</span></a></li>
                <li class="nav logout"><a href="#">LOGOUT</a></li>
            </ul>
    </nav>
    <div class="img-container">
        <div class="cover"></div>
        <div class="services-main-content">
            <h1>Available Services</h1>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima deserunt repellat, deleniti veritatis aliquid accusantium?</p> -->
        </div>
        <!-- <img src="/images/homeBackground2.jpg" alt=""> -->
    </div>
    <div class="services-container">
        <div class="service payment">
            <div class="service-img paymentImg">
            </div>
            <!-- <img src="/images/payment2.jpg" alt=""> -->
            <a class="btn1" href="payment">Payment</a>
            <!-- <input class="btn1" type="submit" value="Payment"> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, aperiam.</p> -->
            
        </div>
        <div class="service checkout">
            <div class="service-img checkoutImg">
            </div>
            <a class="btn1" href="checkout">Checkout</a>
            <!-- <input class="btn1" type="submit" value="Checkout"> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, aperiam.</p> -->
            <!-- <img src="/images/" alt=""> -->
        </div>
        <div class="service duePayment">
            <div class="service-img duePaymentImg">
            </div>
            <a class="btn1" href="duePayment">Due Payment</a>
            <!-- <input class="btn1" type="submit" value="Due Payment"> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, aperiam.</p> -->
            <!-- <img src="/images/payment1.jpg" alt=""> -->
        </div>
        <div class="service customerDetail">
            <div class="service-img customerDetailImg">
            </div>
            <a class="btn1" href="allcustomerdetails">Customer Details</a>
            <!-- <input class="btn1" type="submit" value="Customer Details"> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, aperiam.</p> -->
            <!-- <img src="/images/payment1.jpg" alt=""> -->
        </div>
        <div class="service updateRoom">
            <div class="service-img updateRoomImg">
            </div>
            <a class="btn1" href="updateRoomPrice">Update Room</a>
            <!-- <input class="btn1" type="submit" value="Customer Details"> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, aperiam.</p> -->
            <!-- <img src="/images/payment1.jpg" alt=""> -->
        </div>
        <div class="service updatePackage">
            <div class="service-img updatePackageImg">
            </div>
            <a class="btn1" href="updatePackagePrice">Update Package</a>
            <!-- <input class="btn1" type="submit" value="Customer Details"> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, aperiam.</p> -->
            <!-- <img src="/images/payment1.jpg" alt=""> -->
        </div>
        <div class="service tenantRecord">
            <div class="service-img tenantRecordImg">
            </div>
            <a class="btn1" href="tenantRecord">Tenant Record</a>
            <!-- <input class="btn1" type="submit" value="Customer Details"> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, aperiam.</p> -->
            <!-- <img src="/images/payment1.jpg" alt=""> -->
        </div>
    </div>
    <div class="footer">
        <div class="footerCopyRight">
            <p>&copy; Customer Login Form All rights reserved | Designed by Fastians</p>
        </div>

        <div class="footerLinks">
            <a href="#">Terms of use</a>
            <p>|</p>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</body>
</html>