{% extends "template.html" %}

{% block title %} searchrooms {% endblock %}

{% block content %}
<div id="searchbar">
  <input type="text" class="form-control" placeholder="search...">
</div>
<div id="table">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Room no</th>
        <th>capacity</th>
        <th>rate</th>
        <th>floor no</th>
      </tr>
    <thead>
    <tbody class="bg-light">
      {% for room in availRooms %}
        <tr>
          <td>{{room.roomNo}}</td>
          <td>{{room.capacity}}</td>
          <td>{{room.rate}}</td>
          <td>{{room.floorNo}}</td>
        </tr>
      {% endfor %}
      
      
    </tbody>
  </table>
</div>
{% endblock %}