{% extends "template.html" %}

{% block title %} sign up {% endblock %}

{% block content %}
<div class="container flex-container">
  <div class="card-decks">
    <div class="text-center">
      <div class="card-body">
        <h3 class="card-title">HOSTEL MANAGEMENT SYSTEM</h3>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <input type="username" class="form-control" placeholder="Enter your username" id="username" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter new password" id="password" required>
          </div>
          <button class="btn btn-primary container-fluid" type="submit">Register</button>
          <hr>
          <p>Already have an account?</p>
          <a href="{{ url_for('login') }}">Login into existing account</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
