<!-- Login page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- link online bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/duepayments.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="">
  
  <!-- navigation bar -->
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <a href="{{ url_for('userLogin')}}" class="navbar-brand">Logo</a>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Room Allocation</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('searchroom')}}" class="nav-link">Search Room</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('cancelbooking')}}" class="nav-link">Cancel Booking</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('allcustomerdetails')}}" class="nav-link">Due Payments</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact us</a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- main content which will vary from page to page-->
  {% block content %}
  {% endblock %}

  <!-- footer -->
  <footer>

  </footer>

</body>
</html>
