{% extends "template.html" %}

{% block title %} updateRoomPrices {% endblock %}

{% block content %}

<div class="center">
<div class="flex-box">
    <h3 id=table-h3">Update Room Price </h3>
    <form class="flex-column" action="updateRoomPrice", method="post">
        <div id="seachbar" class="flex-column">
            <input class="form-control" type="number" name="roomId" placeholder="enter room id">
            <input class="form-control" type="number" name="newPrice" placeholder="enter new price">
            <input type="submit" value="Update Price">

        </div>
    </form>
    {% if msg !="NULL" %}
    <p style="text-align: center; font-size: larger;"><b>{%print(msg)%}</p></b>
    {% endif %}
</div>
</div>
{% endblock %}
